@{
    ViewBag.Title = "管理中心";
}
    <div id="tabs" class="easyui-tabs" data-options="fit:true" style="margin-left: auto; margin-right: auto">
        <div title="欢迎" style="padding:20px;">欢迎使用后台管理……</div>
    </div>

