@model lzz博客.Models.User
@{
    ViewBag.Title = "UserCenter";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="leftnav col-xs-3">@Html.Partial("PartialPersonalNav")</div>
    <div class="workspace col-xs-9">
        <div class="Nav legend">您现在的位置： 用户首页</div>
    </div>
</div>
<div class="clear"></div>
   

